<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/covershot.css">
	</head>
	<body>
		<header>
			<ul class="summary">
				<li>Total Files</li>
				<li>Hits</li>
				<li>Misses</li>
				<li>sloc</li>
				<li>Coverage</li>
			</ul>
		</header>
		<section id="bod">
			<div id="mainContent">
				<table>
					<thead>
						<tr>
							<th>
								<p> <%= filename %> </p>
							</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td>
								Footer
							</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td>
								<p>
									Hits: <%= hits %>
								</p>
							</td>
							<td>
								<p>
									Misses: <%= misses %>
								</p>
							</td>
							<td>
								<p>
									sloc: <%= sloc %>
								</p>
							</td>
							<td>
								<p>
									Coverage: <%= coverage %>
								</p>
							</td>
						</tr>
					</tbody>
				</table>	
			</div>
			<footer>
				footer
			</footer>
		</section>
	</body>
</html>